
<head>
  <link rel="stylesheet" type="text/css" href="/static/events/event.css">
  <script src="https://kit.fontawesome.com/86ee3b03e5.js"></script>
  <style type="text/css">
    body { margin:5%; }
    </style>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
</head>

<div class="flex-container" style="height:auto;">
            <div class="column">
              <div class="container-item-header-2" style="height:60px;">
               </div></div></div>
<body>

<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <div class="flex-container">
    <div style="padding:2vw;">
    </div>
    <div>
      <div class="box" style="background-color: rgb(61, 61, 61);"> 
      </div>
      <div class="box">
        <div class="triangle-down-1">
        </div>
        <div class="inverse-triangle-down-1">
        </div>
      </div>
      <div class="box" style="background-color: rgb(115, 182, 143);"> 
      </div>
      <div class="box">
        <div class="triangle-down-2">
        </div>
        <div class="inverse-triangle-down-2">
        </div>
      </div>
      <div class="box" style="background-color: rgb(197, 197, 197);"> 
      </div>
    </div>
    <div style="padding-left: 5%; padding-top: 3vw;">
      <h1 style="color: rgb(61, 61, 61); font-family: 'Roboto', sans-serif;margin: -25px ; font-weight: 900; font-size:60px;">Matthew</h1>
      <h1 style="color: rgb(115, 182, 143); font-family: 'Roboto', sans-serif; margin: -25px ; font-size:60px;">Wright</h1>
    </div>

 

</body>
