{% extends "home/base.html" %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/events/event.css">
    <link rel="stylesheet" type="text/css" href="/static/home/home.css">
    <div class="additional-margins">
        <div class="event-header-image" style= "padding-top: 75%;">
        </div>
        <div>
            <div style="margin-left:5%; margin-right:5%; padding-top: 20px; padding-bottom:20px">
                <h3 class = "title">Events</h3>
                <p>TSF hosts many upper level clinicians and equine wellness practitioners throughout the year, as well as periodic schooling shows. The events are posted below for outside haul-ins to sign up. The following is a list of some of the professionals that visit TSF on a regular basis:<br>
                    <br>
                    &bull;  Ellie Rawle, USDF Gold Medalist <br>
                    &bull;  Ashley Madison, USDF Gold Medalist<br>
                    &bull;  Jessica Bortner-Harris, 3*** Eventer & PEMF Practitioner<br>
                    &bull;  Mark Walker, Equine Rehab Specialist & Kinesiogist</p>
            </div>
        </div>
        <div  style= "width: 100%;" >
            <h3 class="darkest-color" style="font-family: 'Merriweather', serif; margin-left: 5%; margin-bottom: 20px;">TSF Events</h3>
            {% for event in events.events %}
            <div style="cursor: pointer;" onclick="location.href='/events/{{event.id}}/sign_up'" class="event-card-4-background">
                <div class="flex-container">
                    <div class="horse noselect"><p style="font-family: 'Merriweather', serif; width: 80px; text-align: center; padding-top: 10%; color:#f2f8f7; font-size: 20px">{{event.start_date|date:"D"}}<br>{{event.start_date|date:"M"}}<br>{{event.start_date|date:"jS"}}</p></div>
                    <div class="event-details">
                        <h3 class="noselect title" id="card-header">{{event.name}}</h3>
                        <p class="noselect" style="margin: 0;">Clinician: {{event.professional}}</p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


