{% extends "home/base.html" %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/events/event.css">
    <link rel="stylesheet" type="text/css" href="/static/home/home.css">
    <div class="additional-margins">
        <div style= "width: 100%; padding-top: 20px; margin-bottom: 40px;" >
        {% if user.is_authenticated %}
            <h3 class="darkest-color" style="font-family: 'Merriweather', serif; margin-left: 5%; margin-bottom: 20px;">TSF Events</h3>
            {% for event in context.events %}
            <div style="cursor: pointer;" onclick="location.href='/events/edit/{{event.event.id}}'" class="event-card-4-background">
                <div class="flex-container">
                    <div class="horse noselect"><p style="font-family: 'Merriweather', serif; width: 80px; text-align: center; padding-top: 10%; color:#f2f8f7; font-size: 20px">{{event.event.start_date|date:"D"}}<br>{{event.event.start_date|date:"M"}}<br>{{event.event.start_date|date:"jS"}}</p></div>
                    <div class="event-details">
                        <h3 class="noselect title" id="card-header">{{event.event.name}}</h3>
                        <p class="noselect" style="margin: 0;">Clinician: {{event.event.professional}}</p>
                        <p class="noselect" style="margin: 0;">Attending: {{event.joined}} / Scheduled: {{event.scheduled}} </p>
                    </div>
                </div>
            </div>

            {% endfor %}
                <div class="fixed-footer" onclick="location.href='/events/add'">
                <button type="button" class="btn btn-success btn-circle btn-lg"><i class="fas fa-plus"></i></button>
            </div>
            {% else %}
                <h3 style="margin-top: 40px; margin-bottom: 60px; display:flex; justify-content:center; color: red;">Admin's Only</h3>
                <a href="/accounts/login"> Login </a>
            {% endif %}
        </div>
    </div>
{% endblock %}


