{% extends "home/base.html" %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/events/event.css">

    {% if user.is_authenticated %}
    <form method="post">

        {{ form.media }}
        {% csrf_token %}
        <div style="margin-left: 20px; width: 500px">


        {{ form.attendee}}
        {{ form.day|default_if_none:"" }}
        {{ form.time|default_if_none:"hi" }}
        {{ form.duration|default_if_none:"" }}
        </div>

    <button type="submit" class="btn btn-success">Sign-Up</button>
    </form>
    {% else %}
    <h3>Admin's Only</h3>
    {% endif %}



{% endblock %}


