{% extends "home/base.html" %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/events/event.css">



    <div style="margin: 5%; margin-top: 10px; margin-bottom: 10px;">
    
    <h3 class="title">{{event.name}}</h3>
    <p class="subtitle">Clinician: {{event.professional.name}}</p>
    <p style="color:red;">{{error}}</p>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <form method="post">

        {{ form.media }}
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-success">Sign-Up</button>

    </form>

    </div>
{% endblock %}


