<head>
  <link rel="stylesheet" type="text/css" href="/static/home/home.css">
  <script src="https://kit.fontawesome.com/86ee3b03e5.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
</head>


  {% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light padding" style="padding-top:23px; padding-bottom:23px; background-color: #F8F9FA;">
              {% load bootstrap4 %}
              {% bootstrap_css %}
              {% bootstrap_javascript jquery='full' %}

      <img class="navbar-brand" src="https://i.imgur.com/vr0hSne.png" height="60px" style="margin-right: 0; padding:0;">
      <a class="navbar-brand heading-font" style="margin:0; padding:0; font-family: 'Merriweather', serif;" href="/">The Sippel Farm</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 0px;" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 0px;" href="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 0px;" href="/for-sale">For Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 0px;" href="/page/amenities">Amenities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 0px;" href="/page/about_us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 0px;" href="/contact-us/contact-us/">Contact Us</a>
          </li>
        </ul>
        <ul class="navbar-nav">

          <li class="nav-item dropdown">
              {% if user.is_authenticated %}
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{user}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="margin-bottom: 10px;">

                 <a class="dropdown-item" href="{% url 'logout' %}" > logout</a>
                {% endif %}
              </div>
          </li>

        </ul>
      </div>
      
    </nav>
  {% endblock %}

<body class="bg-background-color" style="width: 100%">

  {% block content %}
  {% endblock %}

</body>

<footer>
  {% block footer %}
    <div style="margin-top: 20px; border-top: 1px solid #c2bcbe; padding-top: 10px;">
      <div style=" text-align: center;">
        <p style="color:#c2bcbe;">
        Test <br>
        Created By: Matthew Wright <br>
        Test <br></p>
      </div>
    </div>
  {% endblock %}
</footer>

{% block javascript %}
{% endblock %}
