{% extends "home/base.html" %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/events/event.css">
    <link rel="stylesheet" type="text/css" href="/static/home/home.css">

    <div style="width: 100%">

      <div class="event-header-image" style = "background-image: url('{{ page.photo.url }}');">
          <img src="{{ page.photo.url }}" width="100%">
      </div>

      <div>
          <div style="margin-left:5%; margin-right:5%; padding-top: 20px;">
              <h3 class = "darkest-color title">{{page.content_title}}</h3>
              <p class="subtitle">{{ page.content_text|linebreaks }}</p>
          </div>
      </div>

      {% for content in page_content %}
      <div class="full-size-image" style="margin-left:5%; margin:top 20px; background-image: url('{{ content.photo.url }}');">
            <img src="{{ content.photo.url }}" width="100%" style="border-radius: 5px;visibility:hidden">
        </div>
      <div style="padding-top: 20px; padding-bottom: 20px;">
          <div style="margin-left:5%; margin-right:5%;">
              <h3 class = "darkest-color title" >{{ content.content_title}} </h3>
              <p class = "background-color subtitle"> {{ content.content_title|linebreaks }}</p>
          </div>
      </div>
      {% endfor %}

    </div>
{% endblock %}
