{% extends "home/base.html" %}

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/events/event.css">
    <link rel="stylesheet" type="text/css" href="/static/home/home.css">

    <div class="additional-margins">
        <div style="width: 100%">

          <div class="event-header-image" style = "background-image: url('{{ page.photo.url }}');">
              <img src="{{ page.photo.url }}" width="100%">
          </div>

          <div>
              <div style="margin-left:5%; margin-right:5%; padding-top: 20px;">
                  <h3 class = "darkest-color title">{{page.content_title}}</h3>
                  <p class="subtitle" style="margin-top: 10px;">{{ page.content_text|linebreaks }}</p>
              </div>
          </div>

          {% for content in page_content %}
          <div class= "horizontal-once-large-page">
            <a name = "{{ content.content_title}}"></a>
            <div class="full-size-image-page" style="margin-left:5%; margin-top: 20px; margin-bottom: 40px;">
              <img src="{{ content.photo.url }}" width="100%" style="border-radius: 2px;"></img>
            </div>
            <div class = "width-once-large">
              <div class = "page-text-margin" style="margin-left:5%; margin-right:5%;">
                  <h3 class = "darkest-color title" >{{ content.content_title}} </h3>
                  <p class = "background-color subtitle" style="margin-top: 10px;"> {{ content.content_text|linebreaks }}</p>
              </div>
            </div>
          </div>
          {% if not forloop.last %}
          <div id= "page-divider">
          </div>
          {% endif %}
          {% endfor %}

        </div>
    </div>
{% endblock %}
