:root {
    --main-base-color: #192D2e;
    --secondary-base-color: #617f7f;
    --main-accent-color: #c97f04;
    --secondary-accent-color: #efd9a7;
    --card-color-1: #417066;
    --card-color-2: #8b4f00;
    --card-color-3: #313b66;
    --card-color-4: #502929;
    }

.header-image {
    width: 100vw;
    height: 75vw;
    background-image: url("/static/images/events2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 0;
}


.header-background {
    width: 100%;
    height: 110px;
    background-image: url("/static/images/wood.jpg");
    background-repeat: repeat-x;
    background-size: 150px 100px;
}

.event-card-1-background {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    border-radius: 5px;

    background: linear-gradient(
        to right,
        var(--card-color-1),
        var(--card-color-1) 100px,
        #f2f8f7 100px,
        #f2f8f7 100%
    );
}

.event-card-2-background {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    border-radius: 5px;

    background: linear-gradient(
        to right,
        var(--card-color-2),
        var(--card-color-2) 100px,
        #f2f8f7 100px,
        #f2f8f7 100%
    );
}

.event-card-3-background {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    border-radius: 5px;

    background: linear-gradient(
        to right,
        var(--card-color-3),
        var(--card-color-3) 100px,
        #f2f8f7 100px,
        #f2f8f7 100%
    );
}

.event-card-4-background {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    border-radius: 5px;

    background: linear-gradient(
        to right,
        var(--card-color-4),
        var(--card-color-4) 100px,
        #f2f8f7 100px,
        #f2f8f7 100%
    );
}

.horse {
    height: 150px;
    background-image: url("https://i.imgur.com/QZQIg8R.png");
    background-repeat: no-repeat;
    background-size: 100px 150px;
    padding-top: 0;
    width: 100px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.event-details{
    padding: 20px;
}

@media (max-width: 600px) {
    #card-header {
      font-size:20px;
    }
  }

input[readonly]{
    background-color:transparent;
    border: 0;
    font-size: 1em;
  }

