:root {
    --card-color-1: #417066;
    --card-color-2: #8b4f00;
    --card-color-3: #313b66;
    --card-color-4: #502929;
    }

.event-header-image {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url("/static/images/event2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 0;
}

.event-header-image .text{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 5%;
    text-align: center;
    width: 80%;
    color: var(--background-color);
}


.event-header-background {
    width: 100%;
    height: 110px;
    background-image: url("/static/images/wood.jpg");
    background-repeat: repeat-x;
    background-size: 150px 100px;
}

.event-card-1-background {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;

    border-radius: 5px;

    background: linear-gradient(
        to right,
        var(--card-color-1),
        var(--card-color-1) 80px,
        var(--background-color) 80px,
        var(--background-color) 100%
    );
}

.event-card-2-background {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;

    border-radius: 5px;

    background: linear-gradient(
        to right,
        var(--card-color-2),
        var(--card-color-2) 80px,
        #var(--background-color) 80px,
        var(--background-color) 100%
    );
}

.event-card-3-background {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;

    border-radius: 3px;

    background: linear-gradient(
        to right,
        var(--main-base-color),
        var(--main-base-color) 80px,
        var(--background-color) 80px,
        var(--background-color) 100%
    );
}

.event-card-4-background {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;

    border-radius: 5px;

    background: linear-gradient(
        to right,
        var(--card-color-4),
        var(--card-color-4) 80px,
        var(--background-color) 80px,
        var(--background-color) 100%
    );
}

.horse {
    height: 110px;
    background-image: url("https://i.imgur.com/QZQIg8R.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 0;
    width: 80px;
}



.event-details{
    padding: 20px;
}

@media (max-width: 600px) {
    #card-header {
      font-size:20px;
    }
  }



