:root {
    --darkest-color: #101210;
    --background-color: #f4f6f6;
    --main-base-color: #778377;
    --secondary-base-color: #a4a89d;
    --main-accent-color: #eb737c;
    --secondary-accent-color: #fdc2c8;
    }

.darkest-color {
    color: var(--darkest-color);
}

.background-color {
    color: var(--background-color);
}

.main-base-color {
    color: var(--main-base-color);
}

.secondary-base-color {
    color: var(--secondary-base-color);
}

.main-accent-color {
    color: var(--main-accent-color);
}

.secondary-accent-color {
    color: var(--secondary-accent-color);
}

.bg-darkest-color {
    background-color: var(--darkest-color);
}

.bg-background-color {
    background-color: var(--background-color);
}

.bg-main-base-color {
    background-color: var(--main-base-color);
}

.bg-secondary-base-color {
    background-color: var(--secondary-base-color);
}

.bg-main-accent-color {
    background-color: var(--main-accent-color);
}

.bg-secondary-accent-color {
    background-color: var(--secondary-accent-color);
}

.gallery {
    position: relative;
    width: 45.5%;
}

.gallery .image {
    position: relative;
    width: 100%;
    padding-top: 133%;
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.gallery .image .text{
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: white;
}

.gallery .date{
    margin-top: 12px;
    margin-bottom: 0px;
    color: gray;
}

.gallery .title {
    margin-top:7px;
    margin-bottom: 0px;
    color: black;
}

.gallery .info {
    margin-top: 7px;
    margin-bottom: 0px;
}
.header-image {
    width: 100vw;
    height: 58vw;
    background-image: url("/static/images/horse_farm.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 58vw;
    padding-top: 0;
}

.header-logo-image {
    width: 32vw;
    height: 25vw;
    background-image: url("/static/images/TSF_Logo.png");
    background-repeat: no-repeat;
    background-size: 32vw 25vw;
    padding-top: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: auto;
}

.gallery-item-left {
    position: relative;
    width: 100%;
    background-image: url("/static/images/indoor.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    margin-right: 2%;
    box-shadow: inset 0 0 65px black;
}

.gallery-item-left .text{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    width: 60%;
    color: #f4f6f6;
}

.gallery-item-right {
    position: relative;
    width: 100%;
    background-image: url("/static/images/indoor.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    margin-left: 2%;
    box-shadow: inset 0 0 65px black;
}

.gallery-item-right .text{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    width: 60%;
    color: #f4f6f6;
}

#show-more-button {
    border-radius: 5px;
    border: 2px solid #eb737c;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

.full-size-image {
    position: relative;
    width: 90%;
    background-image: url("/static/images/shop2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    box-shadow: inset 0 0 100px black;
}

.full-size-image .text{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 12%;
    text-align: center;
    width: 60%;
    color: white;
}

.event-scroll-image {
    position: relative;
    background-image: url("/static/images/shop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    box-shadow: inset 0 0 0px black;
}

.event-scroll-image .text{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 5%;
    text-align: center;
    width: 60%;
    color: white;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }




