
.header-image {
    width: 100vw;
    height: 58vw;
    background-image: url("/static/images/horse_farm.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 58vw;
    padding-top: 0;
    z-index: 10;
}

.header-logo-image {
    width: 32vw;
    height: 25vw;
    background-image: url("/static/images/TSF_Logo.png");
    background-repeat: no-repeat;
    background-size: 32vw 25vw;
    padding-top: 0;
    z-index: 20;
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: auto;
}

#show-more-button {
    border-radius: 5px;
    border: 1px solid #417066;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }


